
<div class="row">
    {{#each products }}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{{ this.imagePath }}"
                     alt="Devil May Cry"
                     class="img-responsive">
                <div class="caption">
                    <div class="text-center">
                        <h3>{{ this.title }}</h3>
                        <p> {{ this.description }} </p>
                    </div>
                    <div class="clearfix">
                        <h4 class="pull-left">$ {{ this.price }}</h4>
                        <a href="#" class="btn btn-success pull-right" role="button">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    {{/each }}
</div>
