<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://cdn3.dualshockers.com/wp-content/uploads/2015/06/devil_may_cry_4_special_edition_1.jpg"
                 alt="Devil May Cry"
                 class="img-responsive">
            <div class="caption">
                <div class="text-center">
                    <h3>Devil May Cry</h3>
                    <p>
                        Devil May Cry (Japanese: デビル メイ クライ Hepburn: Debiru Mei Kurai?) is a video game series developed by Capcom and created by Hideki Kamiya. Originally intended to be a sequel in Capcom's Resident Evil series, in development it became such a radical departure from the series' style that it was developed into a new property entirely.
                    </p>
                </div>
                <div class="clearfix">
                    <h4 class="pull-left">$12</h4>
                    <a href="#" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://cdn3.dualshockers.com/wp-content/uploads/2015/06/devil_may_cry_4_special_edition_1.jpg"
                 alt="Devil May Cry"
                 class="img-responsive">
            <div class="caption">
                <div class="text-center">
                    <h3>Devil May Cry</h3>
                    <p>
                        Devil May Cry (Japanese: デビル メイ クライ Hepburn: Debiru Mei Kurai?) is a video game series developed by Capcom and created by Hideki Kamiya. Originally intended to be a sequel in Capcom's Resident Evil series, in development it became such a radical departure from the series' style that it was developed into a new property entirely.
                    </p>
                </div>
                <div class="clearfix">
                    <h4 class="pull-left">$12</h4>
                    <a href="#" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://cdn3.dualshockers.com/wp-content/uploads/2015/06/devil_may_cry_4_special_edition_1.jpg"
                 alt="Devil May Cry"
                 class="img-responsive">
            <div class="caption">
                <div class="text-center">
                    <h3>Devil May Cry</h3>
                    <p>
                        Devil May Cry (Japanese: デビル メイ クライ Hepburn: Debiru Mei Kurai?) is a video game series developed by Capcom and created by Hideki Kamiya. Originally intended to be a sequel in Capcom's Resident Evil series, in development it became such a radical departure from the series' style that it was developed into a new property entirely.
                    </p>
                </div>
                <div class="clearfix">
                    <h4 class="pull-left">$12</h4>
                    <a href="#" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://cdn3.dualshockers.com/wp-content/uploads/2015/06/devil_may_cry_4_special_edition_1.jpg"
                 alt="Devil May Cry"
                 class="img-responsive">
            <div class="caption">
                <div class="text-center">
                    <h3>Devil May Cry</h3>
                    <p>
                        Devil May Cry (Japanese: デビル メイ クライ Hepburn: Debiru Mei Kurai?) is a video game series developed by Capcom and created by Hideki Kamiya. Originally intended to be a sequel in Capcom's Resident Evil series, in development it became such a radical departure from the series' style that it was developed into a new property entirely.
                    </p>
                </div>
                <div class="clearfix">
                    <h4 class="pull-left">$12</h4>
                    <a href="#" class="btn btn-success pull-right" role="button">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
